<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="D:/practise/QA/New folder/automation-testing-saucedemo/saucedemoAutomation/src/test/java/testCases">
        <parameter name="os" value="Windows"/>
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.TS001LoginTestCase">
                <methods>
                    <exclude name="loginDDT"/>
                </methods>
            </class>
            <class name="testCases.TS002ProductTestCase">
            </class>
            <class name="testCases.TS003CartTestCase">
            </class>
            <class name="testCases.TS004CheckoutTestCase">
            </class>
        </classes>
    </test>

    <test name="edgetest">
        <parameter name="os" value="Windows"/>
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="testCases.TS001LoginTestCase">
                <methods>
                    <include name="loginDDT"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>