<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/practise/QA/New folder/automation-testing-saucedemo/saucedemoAutomation/src/test/java/testCases">
<!--        <classes>-->
<!--            <class name="testCases.TS001LoginTestCase">-->
<!--                <methods>-->
<!--                    <include name="loginTest"/>-->
<!--                    <include name="invalidLoginTest"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testCases.TS002ProductTestCase">-->
<!--                <methods>-->
<!--                    <include name="verifyProductList"/>-->
<!--                    <include name="isProductNamesVisible"/>-->
<!--                    <include name="verifyProductSortAz"/>-->
<!--                    <include name="verifyProductSortZa"/>-->
<!--                    <include name="verifyProductSortPriceLowHigh"/>-->
<!--                    <include name="verifyProductSortPriceHighLow"/>-->
<!--                    <include name="verifyAddProductToCart"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testCases.TS003CartTestCase">-->
<!--                <methods>-->
<!--                    <include name="verifyMultipleProductsCanBeAdded"/>-->
<!--                    <include name="verifyRemoveProductFromCart"/>-->
<!--                    <include name="verifyCartDisplaysSelectedProducts"/>-->
<!--                    <include name="verifyRemoveProductFromCartPage"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testCases.TS004CheckoutTestCase">-->
<!--                <methods>-->
<!--                    <include name="verifyCheckoutWithValidInfo"/>-->
<!--                    <include name="verifyCheckoutEmptyFirstName"/>-->
<!--                    <include name="verifyCheckoutEmptyPostalCode"/>-->
<!--                    <include name="verifySuccessfulOrderCompletion"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
        <classes>
            <class name="testCases.TS001LoginTestCase">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>